{% extends "pizzas/base.html" %}

{% block content %}


<p>
    <font face="Optima" size="5px" color="D35D0E"> Welcome to Parker's perfect Pizzeria, Or 3p's for short. Here at 3p's
        we value perfection so you
        have the ability to enjoy delicious pizzas for a greate price. </font>
</p>
<p>
    <font face="Optima" size="5px" color="D35D0E"> 3p's couragous history: </font>
</p>
<p>
    <font face="Optima" size="3px" color="D35D0E"> 3p's was founded May 2, 2021, when Professor Bhojwani assigned a
        website for the python final. After many days of struggling and countless hours of hard work, our founder Parker
        Bryant was able to get the website up and running. </font>
</p>
<img src="static/pizzas/images/MeatLoversPizza.png">
{% endblock content %}